node_modules
.git
.gitignore
*.md
.DS_Store
coverage
.idea
.vscode
*.log
android/app/build
android/build
android/.gradle
ios/build
ios/Pods
ios/*.xcworkspace/xcuserdata
ios/*.xcodeproj/xcuserdata
*.apk
*.aab
*.ipa
.env
.env.local
